body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium';
}
p {
    font-size:15px ;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}
#warning {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    animation: warning 3s  infinite both;
}
@keyframes warning {
    from {color: red;}
    to {color: black;}
}
.link{
    width: 65px;
    text-align: center;
    color:white;
    text-decoration: none;
}
.link:hover {
    background-color: white;
    color: black;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70%;

}
#current {
    width: 65px;
    background-color: white;
    color: black;
    text-align: center;
}
#current:hover {
    background-color: black;
    color: white;
}
#wrapper {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width:90%;
    height: 100%;
    box-shadow: 3px 4px 10px grey;
}
#film_id {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}
#film_id_content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 15%;
    height: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#film_id:hover #film_id_content {
    display: block;
}
#director {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#director_content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 15%;
    height: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#director:hover #director_content {
    display: block;
}

#genre {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#genre_content {
    display: none;
    position: absolute;
    width: 10%;
    height: 30%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#genre:hover #genre_content {
    display: block;
}
#titel {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#titel_content {
    display: none;
    position: absolute;
    background-color: white;
    width: 15%;
    height: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#titel:hover #titel_content {
    display: block;
}

#release_year {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#release_year_content {
    display: none;
    position: absolute;
    background-color:white;
    width: 10%;
    height: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#release_year:hover #release_year_content {
    display: block;
}
#beschrijving {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#beschrijving_content {
    display: none;
    position: absolute;
    width:10%;
    height: 10%;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#beschrijving:hover #beschrijving_content {
    display: block;
}
#poster {
    text-align: center;
    width: 10%;
    height: 10%;
    border: 2px solid black;
}

#poster_content {
    display: none;
    position: absolute;
    background-color:white;
    width: 18%;
    height: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#poster:hover #poster_content {
    display: block;
}
#submit {
    width: 5%;
    height: 10%;
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: all 200ms;
}
#submit:hover {
    border: 1px solid white;
    opacity: 20%;
}